@charset 'UTF-8';

@media screen and (min-width: 768px) and (max-width: 992px) {
    main {
        background-image: linear-gradient(to top, #5f2c82, #49a09d);
    }

    main > section.login {
        display: flex;
        flex-direction: row;
        height: 50rem;
        width: 76rem;
        font-size: 2rem;
    }

    div.image {
        height: 100%;
        width: 45%;
        background:url('../images/building.jpg') top right/cover;
    }

    .form form {
        margin-top: 5rem;
    }

}

@media screen and (min-width:992px) {
    main {
        background-image: linear-gradient(#5f2c82, #49a09d);
    }

    main > section.login {
        display: flex;
        flex-direction: row-reverse;
        width: 90%;
        height: 50rem;
        font-size: 2.2rem;
    }

    div.image{
        height: 100%; 
        width: 50%;
        background:url(../images/building.jpg) no-repeat bottom right/ cover;
    }

    div.form {
        width: 50%;
    }

    .form form {
        margin-top: 5rem;
    }
}

